<section class="form-container">

    <h2>Edit Comment</h2>
    <%= form_for([@city, @post, @comment], url: update_comment_path(@city.id, @post.id, @comment.id), method: "patch") do |f| %>
        <div class="container-gray">
        	<div class="input-field">
        	</div>
        	<div class="input-field">
        		<%= f.text_field :content, placeholder: "Enter comment", class: "form-control" %>
        	</div>
        	<div class="input-field">
        		<%= link_to "Cancel", :back, class: "btn btn-secondary" %>
        		<%= f.submit "Save Changes", class: "btn btn-primary" %>
        	</div>
        </div>
    <% end %>
    
</section>