nav {
  font-family: 'Jim Nightshade', cursive;
}

.navbar-inverse .navbar-brand {
  color: #ffbf00;
}

.img-size {
  height: 300px;
  width: 300px;
}

float-fix {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.city-show-image {
	background-size: cover;
	width: 1000px;
	height: 300px;
	margin: 0 0 30px;
}

.city-name {
	float: left;
}

.new-post {
	float: right;
}