<h1>Middle Earth</h1>
<% @cities.each do |city| %>
<div class="col-md-6">
  <%= image_tag(city.picture, :class => "img-size" ) %>
  <h3><%= link_to city.name, city_path(city.id) %></h3>
</div>
<% end %>
