<h1 class="city-name"><%= @city.name %></h1>
<button class="btn btn-primary new-post">Add New Post</button>

<div class="city-show-image">
	<%= image_tag(@city.picture, class: "city-show-image")%>
</div>

