body {
  background-color: #5D613E;
}

nav {
  font-family: 'Jim Nightshade', cursive;
  font-size: 24px;
}

.navbar-inverse {
  background-color: #222;
  width: 100%;
  padding: 15px 0;
  border: none;
  border-radius: 0;
}

.navbar-inverse .navbar-brand {
	font-size: 36px;
  color: #ffbf00;
  border: none;
}

#banner {
  width: 100%;
  display: block;
  margin: auto;
}

#middle-earth {
  font-family: 'Jim Nightshade', cursive;
}

h3 a {
  font-family: 'Jim Nightshade', cursive;
  color: #ffbf00;
}

h3 a:hover {
  font-family: 'Jim Nightshade', cursive;
  color: white;
  text-decoration: none;
}

.cities {
  text-align: center;
}

.img-size {
  width: 80vw;
  clear: both;
}

.img-size .text {
  position: relative;
  bottom: 30px;
  left: 0px;
  visibility: hidden;
}

.profile-image-small {
	display: block;
	max-width: 80px;
	padding: 0;
	margin: 0 0 10px;
	float: left;
}

float-fix {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.city-show-image-container {
	width: 100%;
	max-height: 500px;
	margin: 0 0 80px;
	overflow: hidden;

}

.city-show-image {
	background-size: cover;
	width: 100%;
	height: auto;
	margin: 0 0 80px;
}

.city-name {
	float: left;
}

.new-post {
	float: right;
}

.user-profile-section-small {
	max-width: 80px;
	font-size: 18px;
	padding: 0;
	margin: 0 30px 0 0;
	float: left;
}

.user-post-section-wide {
	min-width: 70%;
	padding: 0;
	margin: 0;
	float: left;
}

.user-post-section-wide h2 {
	padding: 0;
	margin: 0;
}

.bottom-margin {
	margin: 0 0 40px !important;
}
