nav {
  font-family: 'Jim Nightshade', cursive;
}

.navbar-inverse .navbar-brand {
  color: #ffbf00;
}

.img-size {
  height: 300px;
  width: 300px;
}

.profile-image-small {
	display: block;
	max-width: 80px;
	padding: 0;
	margin: 0 0 10px;
	float: left;
}

float-fix {
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.city-show-image {
	background-size: cover;
	width: 1000px;
	height: 300px;
	margin: 0 0 80px;

}

.city-name {
	float: left;
}

.new-post {
	float: right;
}

.user-profile-section-small {
	max-width: 80px;
	font-size: 18px;
	padding: 0;
	margin: 0 30px 0 0;
	float: left;
}

.user-post-section-wide {
	min-width: 70%;
	padding: 0;
	margin: 0;
	float: left;
}

.user-post-section-wide h2 {
	padding: 0;
	margin: 0;
}
