// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.user-post-section h2 {
  padding: 0;
  margin: 0;
}

.user-post-block {
  width: 100%;
  padding: 0;
  margin: 0 0 30px;
}

.user-post-title {
	font-size: 46px;
}